.Articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 10vh;
}

.ArticleStyle {
  text-align: center;
}

.Empty {
  text-align: center;
  font-weight: bold;
  color: grey;
}
