.WriteArticle {
  background-color: white;
  padding: 16px;
  width: 70vw;
  max-width: 700px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.WriteArticleStyle {
  font-weight: bold;
  color: red;
}

.RichTextEditor {
  margin-top: 5;
  margin-bottom: 5;
}

.WriteArticleCategory {
  background-color: white;
  padding: 16px;
  width: 100%;
  max-width: 650px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px 1px grey;
  margin: 0;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  min-height: 80px;
}

.FileUpload {
  display: none;
}

.Label {
  padding: 8px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px 1px grey;
  background-color: lightblue;
}

.Image {
  margin-left: 75px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: lightskyblue;
  min-width: 150px;
  min-height: 150px;
}

.Style {
  font-weight: bold;
  text-align: center;
}
