.Register {
  background-color: white;
  padding: 16px;
  width: 70vw;
  max-width: 400px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 3px grey;
}

.Error {
  text-align: center;
  margin-top: 100px;
  color: gray;
}

.RegisterStyle {
  font-weight: bold;
  text-align: center;
}

.RegisterSuccess {
  background-color: white;
  color: blue;
  padding: 16px;
  height: fit-content;
  width: fit-content;
  max-width: 400px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 2px grey;
  text-align: center;
  font-weight: bold;
  margin-top: 100px;
}

.checkmark__circle_register {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark_register {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check_register {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
