.Login {
  background-color: white;
  padding: 16px;
  width: 70vw;
  max-width: 400px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 3px grey;
}

.LoginStyle {
  font-weight: bold;
  text-align: center;
}
